[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
djangorestframework-simplejwt = "*"
drf-yasg = "*"
python-dotenv = "*"
stripe = "*"
django-anymail = "*"
gunicorn = "*"
django-storages = "*"
boto3 = "*"
psycopg2-binary = "*"
metaapi_cloud_sdk = "*"
django-cors-headers = "*"
cryptography = "*"
sentry-sdk = "*"
pytest = "*"
coverage = "*"
uvicorn = "*"
ejtraderct = "*"
uvloop = "*"
python-dateutil = "*"
whitenoise = "*"
drf-nested-routers = "*"

[dev-packages]

[requires]
python_version = "3.12"
